	# ===== OS =====
.DS_Store
Thumbs.db

# ===== Android Studio / IntelliJ =====
.idea/
*.iml
*.ipr
*.iws

# ===== Gradle =====
.gradle/
build/
*/build/

# ===== Local config =====
local.properties

# ===== Logs =====
*.log

# ===== APK / AAB =====
*.apk
*.aab

# ===== Videos / large media =====
*.mp4
*.mov
*.avi
